<footer class="footer_area m-t-90">
    <div class="container">
        <div class="footer">
            <div class="footer_top padding-top-80 clearfix">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h5>About Us</h5>
                        <p>
                            Situated in the heart of Pokhara, Sign Inn Hotel offers leisure and business travelers’ dependability, friendly services and modern, attractive facilities at an excellent value in a convenient and peaceful location. We provide innovative comfort to guests, whether on business or leisure while you stay connected with free Wi-Fi.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1">
                    <div class="row">
                        <div class="footer_widget clearfix">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href=@Url.Action("Index","Home")>About Us</a></li>
                                <li><a href=@Url.Action("ContactUs","Home")>Contact Us</a></li>
                                <li><a href=@Url.Action("Gallery","Home")>Gallery</a></li>
                                @*<li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>*@
                            </ul>
                            @*<div class="col-lg-6 col-md-6 sol-sm-6">
                                <ul>
                                    <li><a href="#">Noordwijk</a></li>
                                    <li><a href="#">Wellness</a></li>
                                    <li><a href="#">Manifesto</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="footer_widget">
                        <h5>Get in touch</h5>
                        <div class="footer_map">
                            <ul>
                                <li>
                                    <P>
                                        <i class="fa fa-map-marker"></i>
                                        Sign Inn Hotel Pokhara<br>
                                        Lake Side-6, Baidam Road, Pokhara, Nepal
                                    </P>
                                </li>
                            </ul>
                            <div class="social_icons clearfix">
                                <ul class="floatLeft">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="footer_copyright margin-tb-50 content-center">
                        <p>© @DateTime.Now.Year <a href="#">Sign Inn Hotel</a>. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
