
@{
    ViewBag.Title = "Hotel For You";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- start main slider -->
<div class="main_slider_area">
    <div class="main_slider" id="slider_rev">
        <!-- start hotel booking -->
        <div class="hotel_booking_area">
            <div class="container">
                <div class="hotel_booking">
                 @Html.Partial("_PartialHomeBookingForm")
                    <!-- special offer start -->
                    <div class="special_offer_main">
                        <img src=@Url.Content("~/content/img/special-offer-main.png") alt="">
                    </div>
                    <!-- end offer start -->
                </div>
            </div>
        </div>
        <!-- end hotel booking -->
        <div class="fullwidthbanner-container">
            <div class="fullwidth_home_banner">
                <ul>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                        <img src=@Url.Content("~/content/img/rev-slider/slider-one.jpg") alt="slide">
                        <div class="tp-caption large_black sfr" data-x="105" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                             style="font-family: 'Playfair Display', serif; font-size: 45px;color: #f7c411; margin-bottom: 26px; text-transform: uppercase; line-height: 40px;">
                            A brand New Hotel
                        </div>
                        <div class="tp-caption large_black sfr" data-x="105" data-y="255" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                             style="font-family: 'Playfair Display', serif; font-size: 38px;color: #ffffff; margin-bottom: 30px; text-transform: uppercase; line-height: 40px;">
                            Beyond Ordinary
                        </div>
                        <div class="tp-caption lfb carousel-caption-inner" data-x="105" data-y="313" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                             style="background: #f7c411; padding: 10px; cursor: pointer;">
                            <a href=@Url.Action("gallery","Home") class="" style="background: #f7c411; border-radius: 0; color: #000; display: inline-block;  font-size: 18px; padding: 8px 34px; text-transform: uppercase; border: 1px solid #9e811a;">Book Now</a>
                        </div>
                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                        <img src=@Url.Content("~/content/img/rev-slider/slider-two.jpg") alt="slide">
                        <div class="tp-caption large_black sfr" data-x="105" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                             style="font-family: 'Playfair Display', serif; font-size: 45px;color: #f7c411; margin-bottom: 26px; text-transform: uppercase; line-height: 40px;">
                            Book Your Summer Holidays
                        </div>
                        <div class="tp-caption large_black sfr" data-x="105" data-y="255" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                             style="font-family: 'Playfair Display', serif; font-size: 38px;color: #ffffff; margin-bottom: 30px; text-transform: uppercase; line-height: 40px;">
                            With Sign Inn Hotel
                        </div>
                        <div class="tp-caption lfb carousel-caption-inner" data-x="105" data-y="313" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                             style="background: #f7c411; padding: 10px; cursor: pointer;">
                            <a href="#" class="" style="background: #f7c411; border-radius: 0; color: #000; display: inline-block;  font-size: 18px; padding: 8px 34px; text-transform: uppercase; border: 1px solid #9e811a;">Book Now</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end main slider -->
<!-- start welcome section -->
<section class="welcome_area">
    <div class="container">
        <div class="welcome">
            <div class="section_title nice_title content-center">
                <h3>Welcome to Sign Inn Hotel</h3>
            </div>
            <div class="section_description">
                <p> Situated in the heart of Pokhara, Sign Inn Hotel offers leisure and business travelers’ dependability, friendly services and modern, attractive facilities at an excellent value in a convenient and peaceful location. We provide innovative comfort to guests, whether on business or leisure while you stay connected with free Wi-Fi.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_room_wrapper clearfix">
                        <figure class="uk-overlay uk-overlay-hover">
                            <div class="room_media">
                                <a href="#"><img src=@Url.Content("~/content/img/cla_room.jpg") alt=""></a>
                            </div>
                            <div class="room_title border-bottom-whitesmoke clearfix">
                                <div class="left_room_title floatleft">
                                    <h6>Classic Double,<br /> Triple Rooms</h6>
                                    <p>&#8377;1500/- <span>night</span></p>
                                </div>
                                <div class="left_room_title floatright">
                                    <a href="#" class="btn">Book</a>
                                </div>
                            </div>
                            <div class="uk-overlay-panel uk-overlay-background single_wrapper_details clearfix animated bounceInDown">
                                <div class="border-dark-1 padding-22 clearfix single_wrapper_details_pad">
                                    <h5>Classic Double, Triple Rooms</h5>
                                    <p>
                                        A 15 sqm room featuring a walk in shower, 18 inch TV, multi channel satellite television, high
                                        speed internet access.

                                    </p>
                                    <p></p>
                                    <div class="single_room_cost clearfix">
                                        <div class="floatleft">
                                            <p>&#8377;1500/- <span>night</span></p>
                                        </div>
                                        <div class="floatright">
                                            <a href=@Url.Action("RoomeDetails","Home") class="btn">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_room_wrapper clearfix">
                        <figure class="uk-overlay uk-overlay-hover">
                            <div class="room_media">
                                <a href="#"><img src=@Url.Content("~/content/img/room-image-two.png") alt=""></a>
                            </div>
                            <div class="room_title border-bottom-whitesmoke clearfix">
                                <div class="left_room_title floatleft">
                                    <h6>Deluxe Double, <br />Triple Rooms</h6>
                                    <p>&#8377;1800/- <span>night</span></p>
                                </div>
                                <div class="left_room_title floatright">
                                    <a href="#" class="btn">Book</a>
                                </div>
                            </div>
                            <div class="uk-overlay-panel uk-overlay-background single_wrapper_details clearfix animated bounceInUp">
                                <div class="border-dark-1 padding-22 clearfix single_wrapper_details_pad">
                                    <h5>Deluxe Double, Triple Rooms</h5>
                                    <p>
                                        A 17 sqm room featuring a walk in shower, 18 inch TV, multi channel satellite television, high
                                        speed internet access.

                                    </p>
                                    <div class="single_room_cost clearfix">
                                        <div class="floatleft">
                                            <p>&#8377;1800/- <span>night</span></p>
                                        </div>
                                        <div class="floatright">
                                            <a href=@Url.Action("RoomeDetails","Home") class="btn">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_room_wrapper clearfix">
                        <figure class="uk-overlay uk-overlay-hover">
                            <div class="room_media">
                                <a href="#"><img src=@Url.Content("~/content/img/booking-step-one.jpg") alt=""></a>
                            </div>
                            <div class="room_title border-bottom-whitesmoke clearfix">
                                <div class="left_room_title floatleft">
                                    <h6>Single Room</h6>
                                    <p>&#8377;950/ <span>night</span></p>
                                </div>
                                <div class="left_room_title floatright">
                                    <a href="#" class="btn">Book</a>
                                </div>
                            </div>
                            <div class="uk-overlay-panel uk-overlay-background single_wrapper_details clearfix animated bounceInDown">
                                <div class="border-dark-1 padding-22 clearfix single_wrapper_details_pad">
                                    <h5>Single Room</h5>
                                    <p>
                                        A 17 sqm room featuring a walk in shower, 18 inch TV, multi channel satellite television, high
                                        speed internet access.

                                    </p>

                                    <div class="single_room_cost clearfix">
                                        <div class="floatleft">
                                            <p>&#8377;950/ <span>night</span></p>
                                        </div>
                                        <div class="floatright">
                                            <a href=@Url.Action("RoomeDetails","Home") class="btn">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="single_room_wrapper clearfix">
                        <figure class="uk-overlay uk-overlay-hover">
                            <div class="room_media">
                                <a href="#"><img src=@Url.Content("~/content/img/balcony.jpg") alt=""></a>
                            </div>
                            <div class="room_title border-bottom-whitesmoke clearfix">
                                <div class="left_room_title floatleft">
                                    <h6>Terrace Seating</h6>
                                    <p>&#8377;2000/ <span>night</span></p>
                                </div>
                                <div class="left_room_title floatright">
                                    <a href="#" class="btn">Book</a>
                                </div>
                            </div>
                            <div class="uk-overlay-panel uk-overlay-background single_wrapper_details clearfix animated bounceInUp">
                                <div class="border-dark-1 padding-22 clearfix single_wrapper_details_pad">
                                    <h5>Terrace Seating</h5>
                                    <p>
                                        A 17 sqm room featuring a walk in shower, 18 inch TV, multi channel satellite television, high
                                        speed internet access.
                                    </p>
                                    <div class="single_room_cost clearfix">
                                        <div class="floatleft">
                                            <p>&#8377;2000/ <span>night</span></p>
                                        </div>
                                        <div class="floatright">
                                            <a href=@Url.Action("RoomeDetails","Home") class="btn">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end welcome section -->
<!-- start Hotel Facilities section -->
<section class="hotel_facilities_area margin-top-115 margin-bottom-100">
        <div class="container">
            <div class="hotel_facilities">
                <div class="section_title nice_title content-center">
                    <h3 style="color: #f7c42b;">Hotel Facilities</h3>
                </div>
                <div class="hotel_facilities_content">
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#restaurant" aria-controls="restaurant" role="tab" data-toggle="tab">
                                    <img src=@Url.Content("~/content/img/home-facilities-icon-eleven.png") alt="restaurant">
                                    <span>restaurant</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#pick-up" aria-controls="pick-up" role="tab" data-toggle="tab">
                                    <img src=@Url.Content("~/content/img/home-facilities-icon-eight.png") alt="pick-up">
                                    <span>pick-up</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#bar" aria-controls="bar" role="tab" data-toggle="tab">
                                    <img src=@Url.Content("~/content/img/home-facilities-icon-one.png") alt="bar"><span>Activities</span>
                                </a>
                            </li>
                            
                        </ul>


                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="restaurant">
                                <div class="single-tab-content">
                                    <div class="row">
                                        <div class="co-lg-5 col-md-5 col-sm-6">
                                            <div class="single-tab-image">
                                                <a href="#"><img src=@Url.Content("~/content/img/hotel-facility-one.jpg") alt=""></a>
                                            </div>
                                        </div>
                                        <div class="co-lg-7 col-md-7 col-sm-6">
                                            <div class="single-tab-details">
                                                @*<h6>The world class</h6>*@
                                                <h3>Restaurant</h3>
                                                <p>
                                                    Hotel Sign in have its own all day dining restaurant whereby guest have option to order ala carte or from the room service menu. We also arrange buffet meals for the groups stay.
                                                </p>
                                                @*<p>
                                                    Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan nulla porta vel. Vivamus malesuada vitae sem ac pellentesque.
                                                </p>
                                                <div class="our_services">
                                                    <a href="#" class="margin-right-33">Service Hours; 19.00-22:00 </a>
                                                    <a href="#">service charge : &#8377;15</a>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane" id="pick-up">
                                <div class="single-tab-content">
                                    <div class="row">
                                        <div class="co-lg-5 col-md-5">
                                            <div class="single-tab-image">
                                                <a href="#"><img src=@Url.Content("~/content/img/car_park.jpg") alt=""></a>
                                            </div>
                                        </div>
                                        <div class="co-lg-7 col-md-7">
                                            <div class="single-tab-details">
                                                @*<h6>The world class</h6>*@
                                                <h3>Pick Up</h3>
                                                <p>
                                                    We are just 10 minutes drive from Pokhara Airport as well as from City Center. For adventure enthusiasts, we are just 30 minutes drive from Sarangkot where guest could go for stunning sight seeing of Pokhara as well as for Paragliding. Our location has the easy and convenient access to all the attractions and adventures hub in Pokhara.
                                                </p>
                                                @*<p>
                                                    Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan nulla porta vel. Vivamus malesuada vitae sem ac pellentesque.
                                                </p>
                                                <div class="our_services">
                                                    <a href="#" class="margin-right-33">Service Hours; 19.00-22:00 </a>
                                                    <a href="#">service charge : &#8377;15</a>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="bar">
                                <div class="single-tab-content">
                                    <div class="row">
                                        <div class="co-lg-5 col-md-5">
                                            <div class="single-tab-image">
                                                <a href="#"><img src=@Url.Content("~/content/img/coyote-bar.jpg") alt=""></a>
                                            </div>
                                        </div>
                                        <div class="co-lg-7 col-md-7">
                                            <div class="single-tab-details">
                                                @*<h6>The world class</h6>*@
                                                <h3>Other Activities</h3>
                                                <p>
                                                    We also have Barbeque facilities for our In House guests if booked in advance for individual guests as well as for the groups at an additional charges.
                                                </p>
                                                @*<p>
                                                    Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan nulla porta vel. Vivamus malesuada vitae sem ac pellentesque.
                                                </p>
                                                <div class="our_services">
                                                    <a href="#" class="margin-right-33">Service Hours; 19.00-22:00 </a>
                                                    <a href="#">service charge : &#8377;15</a>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- end Hotel Facilities section -->
<!-- start About Us section -->
<section class="about_us_area m-t-90">
    <div class="container">
        <div class="about_us clearfix">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-left-0">
                <div class="news">
                    <div class="section_title margin-bottom-50">
                        <h5>News</h5>
                    </div>
                    <div class="section_description">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single_content clearfix border-bottom-whitesmoke">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 padding-left-0">
                                        <div class="post_media">
                                            <a href="#"><img src=@Url.Content("~/content/img/news-one.jpg") alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-8 padding-left-0">
                                        <div class="post_title clearfix">
                                            <h6>1st Jan celebrate</h6>
                                        </div>
                                        <div class="post_content  margin-bottom-35">
                                            <p>1 Jan 2018</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content clearfix margin-top-35 border-bottom-whitesmoke">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 padding-left-0">
                                        <div class="post_media">
                                            <a href="#"><img src=@Url.Content("~/content/img/news-two.jpg") alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-8 padding-left-0">
                                        <div class="post_title clearfix">
                                            <h6>First Day First Out</h6>
                                        </div>
                                        <div class="post_content margin-bottom-35">
                                            <p>10 Jan 2018</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_content clearfix margin-bottom-35 margin-top-35">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 padding-left-0">
                                        <div class="post_media">
                                            <a href="#"><img src=@Url.Content("~/content/img/news-three.jpg") alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-8 padding-left-0">
                                        <div class="post_title clearfix">
                                            <h6>Customer Feedback</h6>
                                        </div>
                                        <div class="post_content">
                                            <p>31 Jan 2018</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="showcase">
                    <div class="section_title margin-bottom-50">
                        <h5>Hotel Showcase</h5>
                    </div>
                    <div class="section_description">
                        <div class="clearfix demo" style="">
                            <ul id="vertical" class="gallery list-unstyled">
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-18.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-18.jpg") />
                                </li>
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-21.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-21.jpg") />
                                </li>
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-22.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-22.jpg") />
                                </li>
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-23.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-23.jpg") />
                                </li>
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-24.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-24.jpg") />
                                </li>
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-25.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-25.jpg") />
                                </li>
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-26.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-26.jpg") />
                                </li>
                                <li data-thumb=@Url.Content("~/content/img/lightslider-img/cS-27.jpg")>
                                    <img alt="slider" src=@Url.Content("~/content/img/lightslider-img/cS-27.jpg") />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="customer_says">
                    <div class="section_title margin-bottom-50">
                        <h5>Customer Says</h5>
                    </div>
                    <div class="section_description">
                        <div id="customer_says_slider" class="carousel slide" data-ride="carousel" data-pause="none">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="single_says">
                                        <div class="customer_comment">
                                            <p>
                                                Goof location, clean, good food, good service, good atmosphere and good value. Recommended
                                            </p>
                                        </div>
                                        <div class="customer_detail clearfix">
                                            @*<div class="customer_pic alignleft-20">
                                                    <a href="#"><img src=@Url.Content("~/content/img/customer-says-one.png") alt=""></a>
                                                </div>*@
                                            <div class="customer_identity floatleft">
                                                <h6>Finc Hock</h6>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="single_says">
                                        <div class="customer_comment">
                                            <p>
                                                My second time in this hotel. Was a bit afraid it would not live up to my memories but, it did. I especially love the pianist at breakfast; what a relaxing way to start the day.
                                            </p>
                                        </div>
                                        <div class="customer_detail clearfix">
                                            @*<div class="customer_pic alignleft-20">
                                                    <a href="#"><img src=@Url.Content("~/content/img/customer-says-one.png") alt=""></a>
                                                </div>*@
                                            <div class="customer_identity floatleft">
                                                <h6>Tinit Pauo</h6>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="slider_says left" href="#customer_says_slider" role="button" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="slider_says right" href="#customer_says_slider" role="button" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end About Us section -->
